<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>
<main class>

            <div th:each="t : ${tours}" th:object="${t}" class="card mb-3">
                <img class="card-img-top" th:src="*{imageUrl}" alt="Greece" style="width:100%">
                <span class="card-body" th:text="|*{destination} only for *{#numbers.formatDecimal(price, 0, 0)}EUR|"></span>
                <a class="ml-3 text-success" th:href="@{/tours/tour-details/{id}(id = ${t.id})}">See more</a>
            </div>


</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>
