<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }
</style>
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>

<main>
    <div class="content" style="max-width:1400px">

        <div th:object="${tour}" class="row">

            <div class="col-12 col-md-8 bg-blur text-dark rounded">
                <div class="card">
                    <img th:src="*{imageUrl}" alt="Nature" style="width:100%"><br>
                    <div class="container">
                        <h3 th:text="*{name}"><b>Tour name</b></h3>
                        <h5 th:text="|Only for *{#numbers.formatDecimal(price, 0, 0)}EUR per day|"></h5>
                        <p th:text="*{startedDate}">April 7, 2014</p>
                        <p class="text-muted" th:text="|Days: *{days}|"></p>
                    </div>
                    <div class="container">
                        <p th:text="*{description}"></p>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <img th:src="*{destination.imageUrl}" alt="Nature" style="width:100%"><br>
                    <div class="container">
                        <h3 th:text="*{destination.name}"><b>Destination name</b></h3>
                    </div>
                    <div class="content">
                        <p th:text="*{destination.description}"></p>
                        <a class="ml-3 text-success"
                           th:href="@{/destinations/destination-details/{id}(id = ${tour.id})}">See more</a>
                    </div>
                </div>

            </div>


            <div class="col-12 col-md-4 ml-auto bg-blur text-dark rounded">

                <div class="card">
                    <img th:src="*{yacht.imageUrl}" style="width:100%">
                    <div class="container">
                        <a th:href="@{/yachts/yacht-details/{id}(id = ${tour.id})}" class="card-link"
                           th:text="*{yacht.model}">Yacht</a>
                        <hr class="border-bottom w-75">
                        <h4><b>Tour yacht</b></h4>
                        <dl class="row pt-3">
                            <dt class="col-sm-4">Brand</dt>
                            <dd class="col-sm-8" th:text="*{yacht.brand.name}">Brand
                            </dd>
                            <dt class="col-sm-4">Type</dt>
                            <dd class="col-sm-8" th:text="*{yacht.type}">Type
                            </dd>
                            <dt class="col-sm-4">Price</dt>
                            <dd class="col-sm-8" th:text="|*{#numbers.formatDecimal(price, 0, 0)}EUR|">Price
                            </dd>
                            <dt class="col-sm-4">Destination</dt>
                            <dd class="col-sm-8" th:text="*{yacht.destination.name}">Destination
                            </dd>
                        </dl>
                    </div>
                </div>
                <hr>


                <div class="container">
                    <h4>Top Deals</h4>
                </div>
                <ul class="card mb-3" th:each="one: ${three}" th:object="${one}">
                    <li>
                        <img th:src="*{imageUrl}" alt="Image" class="card-img-top">
                        <div class="card-body">
                            <div class="card-title"
                                 th:text="*{name}"></div>
                            <p th:text="|*{#numbers.formatDecimal(price, 0, 0)}EUR|"></p>
                            <a class="ml-3 text-success" th:href="@{/tours/tour-details/{id}(id = ${one.id})}">See
                                more</a>
                        </div>
                    </li>
                </ul>
            </div>
            <hr>


        </div>


    </div>
    <br>


</main>
<!-- Footer -->
<footer th:replace="fragments/commons :: footer"></footer>

</body>
</html>
